div {
  display: flex;
  flex-direction: column;
}
input {
  width: 93%;
}
.copy-btn {
  margin: 10px 0 10px 0;
  cursor: pointer;
  background-color: #ffffff;
  padding: 4px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #00cfff;
  box-shadow: 2px 2px 10px #0000002a;
  text-align: center;
}
.urlLink{
  color: #00cfff;
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px !important;
}