input {
  width: max-content;
}
.imageInput {
    border: none;
    background-color: #00bf65e0;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 10px #035540;
}
input[type="file"] {
    display: none;
}
.upload {
  cursor: pointer;
  background-color: #00bf65e0;
  padding: 2px;
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 1rem;
  box-shadow: 2px 2px 10px #035540;
}
