.App {
  background: #00bf8f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #001510,
    #00bf8f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #001510,
    #00bf8f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vw;
}
.mid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 40vw;
  margin-top: 10vw;
  width: 18%;

}
